<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
        />
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js"></script>
        <title>Task Management</title>
    </head>
    <body>
        <div class="row">
            <div class="col">
                <h2>Tasks</h2>
                <div>
                    <button
                        hx-get="/getnewtaskform"
                        hx-target="#taskForm"
                        class="btn btn-success"
                    >
                        Add New Item
                    </button>
                </div>
                <div
                    class="mt-2"
                    id="taskList"
                    hx-get="/tasks"
                    hx-trigger="load"
                ></div>
            </div>
            <div class="col">
                <h2>Task Form</h2>
                <div id="taskForm">{{template "addTaskForm"}}</div>
            </div>
        </div>
    </body>
</html>
